* {
}

.container {
	max-width: 1000px;
}

body {
	margin: 0px auto;
}

html, body {
  	overflow-x:hidden 
} 

nav {
	color: white;
	padding: 10px 0px 20px 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	opacity: 1;
	z-index: 1;
}

nav ul li {
	display: block;
	margin: 35px;
	padding-bottom: 15px;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	vertical-align: middle;
	letter-spacing: .05em;

}

a:visited, a:hover, a:active, a:focus {
	color: black;
	text-decoration: none;
}

nav ul {
	clear:both;
	padding: 40px 0px 0px 0px;
	height: 1200px;
}

#logo {
	font-family: 'Berkshire Swash', cursive;
	font-size: 4.5em;
	padding: 0px 20px;
	margin: -10px 0px;
	float: left;
	transform: rotate(-2deg);
}

.clicked {
	background-color: white;
	opacity: .75;
	color: black;
}

.scrolled {
	background-color: white;
	opacity: .75;
	color: black;
}

#desktopnav {
	display: none;
}

#mobilenav {
	float: right;
	display: block;
	font-size: 2em;
	margin: 28px 30px 0px 0px;
}

.navlink.fa {
	font-size: 1.5em;
	margin-right: 10px;
}

.section {
	background-size: cover;
	height: 300px;
	opacity: .75;
	background-blend-mode: multiply;
}

.sectionbg {
	padding: 0px;
	opacity: 1;
}

#home {
	background-image: url("../img/homebg.jpg");
	border: none;
	height: 350px;
	background-position: center;
}

#homebg {
	background: linear-gradient(to left, rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); 
}

#about {
	background-image: url("../img/aboutbg.jpg");
	border: none;
}

#aboutbg {
	background: linear-gradient(to right, rgba(229,112,231,.8) 0%,rgba(200,94,199,1) 48%); 
}

#packages {
	background-image: url("../img/yogabg.jpg");
}

#packagesbg {
	background: linear-gradient(to left, rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); 
	padding-right: 20px;
}

#imagesbg {
	background: linear-gradient(to right, rgba(229,112,231,.8) 0%,rgba(200,94,199,1) 48%);
	padding-left: 30px; 
	padding-right: 40px; 
}

#contact {
	background-image: url("../img/contactbg.png");
}

#contactbg {
	background: linear-gradient(to right, rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); 
}

.contact.fa {
	font-size: 3em;
}

img {
	width: 90%;
}

section {
	font-family: 'Raleway', serif;
	padding: 0px 0px;
	margin-right: -15px;
}

section h1 {
	position: relative;
	top: -10px;
	right: 15px;
	padding: 5px 15px 5px 35px;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.25em;
	margin: 0px;
	background: yellow;
	display: inline-block;
	transform: rotate(-2deg);
}

#home h1 {
	top: 315px;
}

#homebg h2 {
		padding: 20px 10px 30px 10px;
		line-height: 1.5em;
		font-family: 'Raleway', serif;
		font-size: 1.5em;
		width: 75%;
		margin: 0 auto;
	}

#imagesbg h1 {
	top: -15px;
}

#packagesbg {
	padding-bottom: 55px;
}

.thumbnail {
	background: none;
	border: none;
	width: 100%;
}

#thumb1, #thumb2, #thumb3, #thumb4 {
	padding-right: 15px;
}

p {
	font-family: 'Crimson Text', serif;
	padding: 10px 60px 30px 35px;
	margin: 0px;
	font-size: 1.25em;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

.current {
	background-color: yellow;
	border-radius: 5px;
	padding-top: 15px;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
}

section li {
	 list-style-type:none;
}

.col-md-6 {
	padding-right: 0px;
}

input[type=text]{
	width: 100%;
	padding: 12px 20px;
	border: none;
	border-bottom: 2px solid black;
	background: none;
	outline: none;
	color: black;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */

  color: black;

}

::-moz-placeholder { /* Firefox 19+ */

  color: black;

}

:-ms-input-placeholder { /* IE 10+ */

  color: black;

}

:-moz-placeholder { /* Firefox 18- */

  color: black;

}

#emailsignup {
	margin: 0px auto;
	padding: 20px 10px;
	border: 0px;
}

.btn {
	background-color: #333;
	color: white;
}

.packagebutton {
	width: 200px;
	height: 50px;
}

.package {
	border-bottom: 1px dotted black;
	padding-bottom: 20px;
}

ul .btn {
	margin-top: 15px;
}

section ul {
	padding-left: 0px;
}

form {
	margin: 0 auto;
}

footer {
	background-color: #333;
	color: white;
	font-size: .75em;
	font-family: 'Montserrat', sans-serif; 
}

@media (min-width: 769px) {
	
	body {
		background: linear-gradient(to left, rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); 
		margin-top: 200px;
	}

	nav {
		background-color: white;
		padding: 10px 0px;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 160px;
		text-align: center;
		opacity: 1;
		margin: 0 auto;
		border-bottom: 1px solid black;
		box-shadow: 1px 1px 5px black;
	}

	nav ul li {
		display: inline;
		margin: 0px 25px;
		font-family: 'Montserrat', sans-serif;
		font-size: 1em;
	}

	nav ul {
		padding: 100px 0px 0px 0px;
		display: inline;
	}

	li.current {
		padding-left: 15px;
		padding-right: 15px;
	}

	a {
		text-decoration: none;
	}

	#logo {
		font-family: 'Berkshire Swash', cursive;
		font-size: 5em;
		padding-bottom: 0px;
		margin: 0px;
		float: none;
		text-align: center;
		color: black;
	}

	#homebg, #aboutbg, #packagesbg, #imagesbg, #contactbg {
		background: none;
	}

	section {
		font-family: 'Raleway', serif;
	}

	section h1 {
	width: 250px;
	position: relative;
	padding: 5px 5px 5px 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.25em;
	margin: 0px auto;
	background: yellow;
	display: block; 
	transform: rotate(-2deg);
}

	#desktopnav {
		display: block;
		margin-top: -90px;
		height: 100px;
	}

	#desktopnav li {
		padding: 15px;
	}

	#mobilenav {
		display: none;
	}

	.section {
		margin: 0px;
		width: 100%;
		height: 500px;
	}

	#homehero {
		height: 100%;
	}

	#homebg p {
		padding: 0px 60px;
	}

	#aboutbg {
		padding: 60px 0px 60px 0px;
	}

	#packagesbg {
		padding-bottom: 35px;
		padding-right: 0px;
		background-color: white;
		border-radius: 5px;
	}

	#homebg h1, #aboutbg h1, #packagesbg h1, #imagesbg h1, #contactbg h1 {
		top: -15px;
	}

	#imagesbg {
		margin-top: 60px;
		margin-bottom: 60px;
		padding-bottom: 35px;
		padding-right: 30px;
		background-color: white;
		border-radius: 5px;
	}

	#homebg h2 {
		padding: 20px 60px;
		line-height: 1.5em;
		font-family: 'Raleway', serif;
		font-size: 1.75em;
		width: 75%;
		margin: 0 auto;
	}

	#contact {
		height: 250px;
	}

	footer {
		height: 200px;
	}

	#scrolldown {
		margin: 0 auto;
		font-size: 5em;
		display: block;
	}

	.package {
		border-bottom: none;
	}

}