* {
}

body {
	margin: 0px;
}

nav {
	background-color: white;
	padding: 10px 0px 20px 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	opacity: .80;
	z-index: 1;
}

nav ul li {
	display: block;
	margin: 35px;
	padding-bottom: 15px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
}

nav ul {
	clear:both;
	padding: 40px 0px 0px 0px;
	height: 1200px;
}

#logo {
	font-family: 'Berkshire Swash', cursive;
	font-size: 4em;
	padding: 0px 20px;
	margin: -10px 0px;
	float: left;
}

#desktopnav {
	display: none;
}

#mobilenav {
	float: right;
	display: block;
	font-size: 2em;
	margin: 20px 20px 0px 0px;
}

#jumbotron {
	background-image: url("../img/yogabg.jpg");
	background-size: cover;
	height: 350px;
	margin: 0px;
	padding: 0px;
	background-position: center;
	background-blend-mode: multiply;
	opacity: .55;
}

#jumbotronbg {
	background: linear-gradient( 45deg, purple, pink ); 
	padding: 0px;
}

/*#home {
	padding-top: 30px;
}*/

.section {
	background-size: cover;
	height: 300px;
	opacity: .75;
	/*border-top: 5px dotted white;*/
	background-blend-mode: multiply;
}

.sectionbg {
	padding: 0px;
	opacity: 1;
}

#home {
	background-image: url("../img/homebg.jpg");
	border: none;
	height: 350px;
	background-position: center;
}

#homebg {
	background: linear-gradient(to left, rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); 
}

#about {
	background-image: url("../img/aboutbg.jpg");
}

#aboutbg {
	background: linear-gradient(to right, rgba(229,112,231,1) 0%,rgba(200,94,199,1) 48%,rgba(168,73,163,1) 100%); 
}

#packages {
	background-image: url("../img/yogabg.jpg");
}

#packagesbg {
	background: linear-gradient(to bottom, rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); 
}

#contact {
	background-image: url("../img/contactbg.png");
}

#contactbg {
	background: linear-gradient(to bottom, rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); 
}

img {
	width: 75%;
}

section {
	font-family: 'Raleway', serif;
	padding: 0px 0px;
}

section h1 {
	position: relative;
	top: 268px;
	right: 15px;
	padding: 5px 15px 5px 35px;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.25em;
	margin: 0px;
	background: yellow;
	display: inline-block;
	transform: rotate(-2deg);
}

#home h1 {
	top: 315px;
}

p {
	font-family: 'Crimson Text', serif;
	padding: 20px 35px;
	margin: 0px;
	font-size: 1.25em;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: purple;
}

.current {
	background-color: pink;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
}

@media (min-width: 768px) {
	
	nav {
		background-color: white;
		padding: 10px 0px;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100px;
		text-align: center;
		opacity: .80;
		margin: 0 auto;
	}

	nav ul li {
		display: inline;
		margin: 0px 25px;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		font-size: 1.25em;
	}

	nav ul {
		padding: 25px 0px 0px 0px;
		float: right;
		display: inline;
	}

	nav a:hover {
		text-decoration: none;
	}

	#logo {
		font-family: 'Berkshire Swash', cursive;
		font-size: 5em;
		padding: 0px 20px;
		margin: 0px;
		float: left;
	}

	section {
		font-family: 'Raleway', serif;
	}

	#jumbotron {
		background-image: url("../img/yogabg.jpg");
		background-size: cover;
		height: 500px;
		margin: 0px;
		padding: 0px;
	}

	#desktopnav {
		display: block;
		margin-top: -90px;
	}

	#mobilenav {
		display: none;
	}

	#home {
		padding-top: 0px;
	}

	#wrapper {
		max-width: 1200px;
		margin: 0 auto;
	}

	.sectionblock {
		height: 500px;
	}

	#homehero {
		height: 100%;
	}

}