* {
}

body {
	margin: 0px;
}

html, body {
  	overflow-x:hidden 
} 

nav {
	/*background-color: white;*/
	color: white;
	padding: 10px 0px 20px 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	opacity: 1;
	z-index: 1;
}

nav ul li {
	display: block;
	margin: 35px;
	padding-bottom: 15px;
	font-family: 'Montserrat', sans-serif;
	/*text-transform: uppercase;*/
	font-size: 1.5em;
	vertical-align: middle;
}

nav ul {
	clear:both;
	padding: 40px 0px 0px 0px;
	height: 1200px;
}

#logo {
	font-family: 'Berkshire Swash', cursive;
	font-size: 4.5em;
	padding: 0px 20px;
	margin: -10px 0px;
	float: left;
	transform: rotate(-2deg);
/*	text-shadow: 3px 3px 0px yellow,
	-3px 3px 0px pink,
	3px -3px 0px orange,
	-3px -3px 0px blue;*/
}

.clicked {
	background-color: white;
	opacity: .75;
	color: black;
}

.scrolled {
	background-color: white;
	opacity: .75;
	color: black;
}

#desktopnav {
	display: none;
}

#mobilenav {
	float: right;
	display: block;
	font-size: 2em;
	margin: 28px 30px 0px 0px;
}

.navlink.fa {
	font-size: 1.5em;
	margin-right: 10px;
}

/*#home {
	padding-top: 30px;
}*/

.section {
	background-size: cover;
	height: 300px;
	opacity: .75;
	/*border-top: 5px dotted white;*/
	background-blend-mode: multiply;
}

.sectionbg {
	padding: 0px;
	opacity: 1;
}

#home {
	background-image: url("../img/homebg.jpg");
	border: none;
	height: 350px;
	background-position: center;
}

#homebg {
	background: linear-gradient(to left, rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); 
}

#about {
	background-image: url("../img/aboutbg.jpg");
	border: none;
/*	height: 350px;*/
	background-position: center;
}

#aboutbg {
	background: linear-gradient(to right, rgba(229,112,231,.8) 0%,rgba(200,94,199,1) 48%); 
}

#packages {
	background-image: url("../img/yogabg.jpg");
}

#packagesbg {
	background: linear-gradient(to left, rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); 
}

#images {
	/*background-image: url("../img/yogabg.jpg");*/
}

#imagesbg {
	background: linear-gradient(to right, rgba(229,112,231,.8) 0%,rgba(200,94,199,1) 48%);  
}

#contact {
	background-image: url("../img/contactbg.png");
}

#contactbg {
	background: linear-gradient(to right, rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%); 
}

.contact.fa {
	font-size: 3em;
}

img {
	width: 75%;
}

section {
	font-family: 'Raleway', serif;
	padding: 0px 0px;
	margin-right: -15px;
}

section h1 {
	position: relative;
	top: 268px;
	right: 15px;
	padding: 5px 15px 5px 35px;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.25em;
	margin: 0px;
	background: yellow;
	display: inline-block;
	transform: rotate(-2deg);
}

#home h1 {
	top: 315px;
}

#imagesbg h1 {
	top: -15px;
}

.thumbnail {
	background: none;
	border: none;
	width: 100%;
}

#thumb1, #thumb2, #thumb3, #thumb4 {
	padding-right: 15px;
}

p {
	font-family: 'Crimson Text', serif;
	padding: 30px 60px 30px 35px;
	margin: 0px;
	font-size: 1.25em;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: purple;
}

.current {
	background-color: yellow;
	corner-radius: 15px;
	padding-top: 15px;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
}

.col-md-6 {
	padding-right: 0px;
}

input[type=text]{
	width: 100%;
	padding: 12px 20px;
	border: none;
	border-bottom: 2px solid black;
	background: none;
	outline: none;
	color: black;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */

  color: black;

}

::-moz-placeholder { /* Firefox 19+ */

  color: black;

}

:-ms-input-placeholder { /* IE 10+ */

  color: black;

}

:-moz-placeholder { /* Firefox 18- */

  color: black;

}

#emailsignup {
	margin: 0px 10px;
	padding: 20px 10px;
	border: 0px;
}

.btn {
	background-color: #333;
	color: white;
}

footer {
	background-color: #333;
	color: white;
	font-size: .75em;
	font-family: 'Montserrat', sans-serif; 
}

@media (min-width: 769px) {
	
	nav {
		background-color: white;
		padding: 10px 0px;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100px;
		text-align: center;
		opacity: .80;
		margin: 0 auto;
	}

	nav ul li {
		display: inline;
		margin: 0px 25px;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		font-size: 1.25em;
	}

	nav ul {
		padding: 25px 0px 0px 0px;
		float: right;
		display: inline;
	}

	nav a:hover {
		text-decoration: none;
	}

	#logo {
		font-family: 'Berkshire Swash', cursive;
		font-size: 5em;
		padding: 0px 20px;
		margin: 0px;
		float: left;
	}

	section {
		font-family: 'Raleway', serif;
	}

	#jumbotron {
		background-image: url("../img/yogabg.jpg");
		background-size: cover;
		height: 500px;
		margin: 0px;
		padding: 0px;
	}

	#desktopnav {
		display: block;
		margin-top: -90px;
	}

	#mobilenav {
		display: none;
	}

	#home {
		padding-top: 0px;
	}

	#wrapper {
		max-width: 1200px;
		margin: 0 auto;
	}

	.sectionblock {
		height: 500px;
	}

	#homehero {
		height: 100%;
	}

}